RewriteEngine on

RewriteCond %{HTTP:X-Domain-Name} ^(.+).short.com$  [OR]
RewriteCond %{HTTP_HOST} ^(.+).short.com$
RewriteRule ^ redirector.php [QSA,L]

RewriteCond %{HTTP:X-Domain-Name} ^(.+).verylongurl.com$  [OR]
RewriteCond %{HTTP_HOST} ^(.+).verylongurl.com$
RewriteRule ^$ form.php [QSA,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]
